<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.000848607 -0.101696 0.00733632" rpy="2.78154 -3.03459 3.13526" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.000848607 -0.101696 0.00733632   -0.178634 -0.0531773 0.00646395 0.982456 wrist_3_link arena_camera" />
</launch>
